.heroContainer {
  position: relative;
  background-color: var(--milk); 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-family2);
  /* background: url("https://res.cloudinary.com/dcaggtr9h/image/upload/v1753059393/Copilot_20250721_062617_xbzxj3.png") no-repeat center top; */
  /* filter: blur(10px); */
}

.heroImageLeft {
  display: none;
  position: absolute;
  bottom: 10%;
  left: -12rem;
  transform: rotate(32deg);
}

.heroImageRight {
  display: none;
  position: absolute;
  bottom: 10%;
  right: -12rem;
  transform: rotate(-32deg);
}


.heroContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  transform: translateY(2.5rem);
  opacity: 0;
}

.heroTitle {
  color: var(--dark-brown); 
  font-weight: 700;
  text-transform: uppercase;
  line-height: 9vw;
  letter-spacing: -0.35vw;
  margin-bottom: 1.25rem;
  font-size: 2.8rem;
  /* filter: drop-shadow(0 0 0.5rem var(--dark-brown)); */
}


.heroTextScroll {
  transform: rotate(-3deg);
  margin-bottom: 2rem;
  border-width: 0.5vw;
  border-style: solid;
  border-color: var(--milk);
}

.heroSubtitle {
  background-color: var(--middle-brown);
}

.heroTextScroll h1 {
  color: var(--milk);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 9vw;
  letter-spacing: -0.35vw;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.25rem;
  font-size: 2.8rem;
  margin: 0;
}

.heroContent h2 {
  font-family: var(--font-family5); 
  color: var(--dark-brown);
  text-align: center;
  max-width: 24rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.15;
  font-weight: 400;
  /* filter: drop-shadow(0 0 0.8rem var(--black)); */
}

.heroButton {
  margin-top: 2.5rem;
  color: var(--milk);
  background-color: var(--light-brown);
  font-weight: 700;
  cursor: pointer;
  border-radius: 9999px;
  padding: 1.2rem 1.6rem;
}

.herobtnLink{
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--milk);
  font-weight: 700;
}






@media (min-width: 768px) {
  .heroContent {
    padding-top: 8rem;
  }
  .heroContent h2 {
    max-width: 36rem;
    font-size: 1.125rem;
  }
  .heroTitle {
    font-size: 6.5rem;
    margin-bottom: 0;
  }
  .heroTextScroll h1 {
    font-size: 6.5rem;
    padding-bottom: 0;
  }
  .heroButton {
    margin-top: 2.5rem;
    padding: 1rem 2.5rem;
  }
  .heroImageLeft {
  display: block;
  position: absolute;
  bottom: 10%;
  left: -12rem;
  /* filter: blur(2px); */
  transform: rotate(32deg);
}

.heroImageRight {
  display: block;
  position: absolute;
  bottom: 10%;
  right: -12rem;
  /* filter: blur(2px); */
  transform: rotate(-32deg);
}
}




@media (min-width: 1536px) {
 
  .heroContent {
    justify-content: center;
    padding-top: 0;
    transform: translateY(0);
  }

  .heroTextScroll h1 {
    font-size: 8.5rem;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-bottom: 1vw;
  }

  .heroTitle {
    font-size: 8.5rem;
  }
}


















