.heroContainer {
  position: relative;
  background-color: var(--milk); 
  width: 100vw;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-family2);
  padding-bottom: 3rem;
}

.heroContent {
  position: relative;
  /* z-index: 10; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  transform: translateY(2.5rem);
  padding-top: 6rem;
  opacity: 0;
}

.heroTitle {
  color: var(--dark-brown); 
  font-weight: 700;
  text-transform: uppercase;
  line-height: 9vw;
  letter-spacing: -0.35vw;
  margin-bottom: 1.25rem;
  font-size: 3.3rem;
}


.heroTextScroll {
  transform: rotate(-3deg);
  margin-bottom: 2rem;
  border-width: 0.5vw;
  border-style: solid;
  border-color: var(--milk);
}

.heroSubtitle {
  background-color: var(--middle-brown);
}

.heroTextScroll h1 {
  color: var(--milk);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 9vw;
  letter-spacing: -0.35vw;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.25rem;
  font-size: 3.3rem;
  margin: 0;
}

.heroContent h2 {
  font-family: var(--font-family5); 
  color: #4a2d18;
  text-align: center;
  max-width: 24rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.15;
  font-weight: 400;
}

.heroButton {
  margin-top: 2.5rem;
  color: #4a2d18;
  background-color: var(--light-brown);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 9999px;
  padding: .8rem 4rem;
  cursor: pointer;
}




@media (min-width: 768px) {
  .heroContent {
    padding-top: 8rem;
  }
  .heroContent h2 {
    max-width: 36rem;
    font-size: 1.125rem;
  }
  .heroTitle {
    font-size: 6.5rem;
    margin-bottom: 0;
  }
  .heroTextScroll h1 {
    font-size: 6.5rem;
    padding-bottom: 0;
  }
  .heroButton {
    margin-top: 2.5rem;
    padding: 0.2rem 2.5rem;
  }
}




@media (min-width: 1536px) {
 
  .heroContent {
    justify-content: center;
    padding-top: 0;
    transform: translateY(0);
  }

  .heroTextScroll h1 {
    font-size: 8.5rem;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-bottom: 1vw;
  }

  .heroTitle {
    font-size: 8.5rem;
  }
}




























/* .hero-container {
	position: relative;
	background-color: var(--milk);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: var(--font-family2);
} */

/* relative z-10 w-full h-full flex flex-col 2xl:justify-center items-center translate-y-10 2xl:pt-0 md:pt-32 pt-24; */

/* .hero-content {

	position: relative;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

/* .hero-heading {
	overflow: hidden;
} */

/* text-dark-brown 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold uppercase leading-[9vw] tracking-[-.35vw] 2xl:mb-0 mb-5; */

/* .hero-title {

	color: var(--dark-brown);
	font-size: 7rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: var(--font-family2);
	line-height: 9vw;
} */

/* rotate-[-3deg] mb-8 border-[.5vw] border-milk; */
/* .hero-text-scroll {
	transform: rotate(-3deg);
	margin-bottom: 1rem;
	border: 0.5vw solid var(--milk);
} */

/* @apply bg-mid-brown; */
/* .hero-subtitle {
	background-color: var(--middle-brown);
} */

/* uppercase 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold text-[#fce1cd] leading-[9vw] tracking-[-.35vw] 2xl:px-[1.2vw] px-3 2xl:pb-[1vw] pb-5 2xl:py-0 py-3; */
/* h1 {

	text-transform: uppercase;
	font-size: 7rem;
	font-weight: 700;
	line-height: 9vw;
} */

/* @apply font-paragraph text-dark-brown text-center md:max-w-lg max-w-sm px-5 md:text-lg leading-[115%] mt-3; */
/* h2 {

  font-family: var(--font-family1);
} */
