.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100%;
	gap: 2rem;
	padding: 1rem;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.login-header {
	text-align: center;
	width: 25%;
	min-width: 280px;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem;
	width: 25%;
	min-width: 280px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.login-input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
	outline: none;
	background: transparent;
}

.login-input-group {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	margin: 0;
	padding: 0;
	height: 3rem;
}

.login-button {
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	background-color: var(--light-brown);
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

.login-button:hover {
	background-color: var(--middle-brown);
}

/* Responsive styles */
@media (max-width: 1024px) {
	.login {
		flex-direction: column-reverse;
		align-items: center;
		gap: 1rem;
	}

	.login-header,
	.login-form {
		width: 60%;
	}
}

@media (max-width: 768px) {
	.login-header,
	.login-form {
		width: 90%;
		padding: 2rem;
	}
}
