.footer {
  background: linear-gradient(to bottom, var(--dark-brown), var(--black));
  color: white;
  font-family: var(--font-family5);
  overflow: hidden;
  position: relative;
  height: 100%;
}


.topImage img{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.topSection {
  padding: 0rem 2rem 0rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  gap: 3rem;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin-bottom: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}


.contact {
  text-align: right;
  max-width: 400px;
}

.contact h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.emailForm {
  display: flex;
  align-items: center;
  background: var(--milk);
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
}

.emailForm input {
  flex: 1;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  background-color: var(--milk);
  color: var(--dark-brown);
}

.sendBtn {
  background: var(--middle-brown);
  color: var(--milk);
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.arrowBtn {
  background: var(--middle-brown);
  border-radius: 50%;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  color: var(--milk);
  font-weight: bold;
  cursor: pointer;
}


.brand {
  text-align: center;
  font-size: 8vw;
  font-weight: 900;
  color: var(--milk);
  line-height: 1;
  margin-bottom: -4rem;
}

.brand img {
  height: 24rem;
  filter: invert(1);
}




.bottomBar {
  padding: 0rem 2rem 2rem;
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #aaa;
}

.links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.links a {
  color: #ccc;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.links span {
  color: #ccc;
}

.links span a {
  color: var(--milk);
  font-weight: 500;
}


@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .contact {
    text-align: center;
    margin: 0 auto;
  }

  .brand {
    font-size: 12vw;
  }

  .bottomBar {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }
}
